<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weather Service</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
  <script src="/lib/skycons/skycons.js"></script>
  <script src="/script/skycons.js"></script>
  <script>
  window.onload = function(){
    skycon(document.getElementById('icon'), 'rain');
  }
  </script>
</head>
<body>
<div class="container">
  <h3>404</h3>
  <p>I can't find what you're looking for :'(</p>
  <p><canvas id="icon" width="128" height="128" /></p>

</div>
</body>
</html>