<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weather Service</title>
</head>
<body>

	<pre>
Scenario One: Display a weather forecast by location
A weather forcast should be displayed based upon the location specified in the url.
Expected URL: http://localhost:/weather/:location
Example URL: http://localhost:/weather/( sydney | brisbane )

Scenario Two: Display a weather forecast by location filtered by day
A weather forcast should be displayed based upon the location and day specified in the url.
Expected URL:http://localhost:<port>/weather/:location/:weekday
Example URL:http://localhost:<port>/weather/:location/( monday | tuesday | etc .. )

Scenario Three: Display a weather forecast for today
A weather forcast should be displayed based upon the location and the current day.
Expected URL:http://localhost:<port>/weather/:location/today
Example URL:http://localhost:<port>/weather/sydney/today
	</pre>

</body>
</html>